.root{
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
     flex-wrap: wrap;
  }
  .container{
      min-width: 360px;
      max-width: 410px;
      margin: 20px auto;
      border: 1px solid #222;
      border-radius: 4px;
      
  }
  .container * {
      padding: 10px;
      

  }

  button {
    padding: 10px;
    margin-top: 25px;
    background-color: rgba(6,85,141,255);
    border-radius: 5px;
    color: whitesmoke;
}

@media only screen and (min-width: 1024px) {
    root {
        flex-wrap: nowrap;
     };
}