
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 12px 8px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(6,85,141,255);
    color: white;
}
.navBar-links span {
    padding-left: 8px;
}
.navBar_categorie {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(6,85,141,255);
    width: 40%;
    flex-wrap: wrap;
    
    
}
.categorie_button {
   color: #fff;
   text-decoration: none;

}